<!DOCTYPE html>
<html lang="en">
{{>header}}
<body style="background-color: #000">
    <div id="home-container">
        <h1>Hi {{username}}!</h1>
        <p>You're logged in. This Login/Registration page was made with Mongo, CSS and Handlebars. Some npm packages used are Bcrypt and Express.</p>
    </div>
    {{>footer}}
</body>
</html>